<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ user_profile.name }}</h1>
<h1>{{ user_profile.email }}</h1>
<h1>{{ user_profile.phone }}</h1>
<hr/>
<br/>
<p><h2>Summary</h2></p>
<p>{{ user_profile.summary }}</p>
<hr/>
<p><h2>Skills</h2></p>
<p>{{ user_profile.skills }}</p>
<hr/>
<p><h2>Education</h2></p>
<ul>
    <li>Schooling : {{ user_profile.school }}</li>
    <li>{{ user_profile.degree}} from {{ user_profile.university}}</li>
</ul>
<hr/>
<p><h2>Work Experience</h2></p>
<p>{{ user_profile.previous_work }}</p>
</body>
</html>